<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO</title>
<!--    <link type="text/css" href="static/css/index.css" th:href="@{static/css/index.css}" rel="stylesheet" />-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src="/script/script.js" th:href="@{/script/script.js}"></script> -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <style>
        #confirm{
            display: none;
        }
    </style>

        
    <div class= itemAdd id="prodAdd" >
        <a href="/"><button>back to the main page </button></a>
        <span class="descr">Add New Item</span>
        <form action="/add/confirm" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Name" name="name" id="name" required/>
            <input type="number" placeholder="Price" name="price" id="price" max="2147483647" required/>
                              
            <button type="submit" id="submit">Add</button>   
 
        </form>
    </div>


</body>
</html>