<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<style>
    .confirm{
        font-size: large;
    }
</style>


        Do you want add this item?

    <a class="confirm" href="/" >
        Yes
    </a>
    <p>
            <a href="/add">no, back to choose item</a>
    </p>

</body>
</html>